service: CHANGEME

plugins:
  - serverless-domain-manager
  - serverless-aws-documentation
  - serverless-offline

provider:
  name: aws
  runtime: nodejs12.x
  profile: serverless
  stage: test
  region: us-east-1

custom:
  stage: ${opt:stage, self:provider.stage}
  domainName: ${self:custom.domainNameStage.${self:custom.stage}}
  domainNameStage:
    test: test-api.${self:custom.baseDomainName}
    prod: api.${self:custom.baseDomainName}
  baseDomainName: CHANGEME
  customDomain:
    domainName: ${self:custom.domainName}
    certificateName: ${self:custom.domainName}
    basePath: CHANGEME
    stage: ${self:custom.stage}
    createRoute53Record: true
  documentation:
    info:
      title: CHANGEME
      description: CHANGEME
      version: 1.0.0

functions:
  graphql:
    handler: dist/events/apollo.handler
    events:
    - http:
        path: graphql
        method: get
        cors: true
        documentation:
          summary: GraphQL Server
          description: GraphQL Server

    - http:
        path: graphql
        method: post
        cors: true
        documentation:
          summary: GraphQL Server
          description: GraphQL Server
